<div class="d-flex justify-content-center" >
  <div class="spinner-border text-primary" id="spinner" style="width: 3.5rem; height: 3.5rem;" role="status" *ngIf="!visible">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<header *ngIf="visible">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Bus_icon_white_and_blue_background.svg/1024px-Bus_icon_white_and_blue_background.svg.png"
          alt="" width="40" height="40" class="d-inline-block align-text-top"> Metro Bus
      </a>
    </div>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link smoothScroll" href="#" style="color: azure;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smoothScroll" href="#bushere" style="color: azure;">Bus&nbsp;Here</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smoothScroll" href="#contact" style="color: azure;">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smoothScroll" href="#aboutus " style="color: azure;">About&nbsp;US</a>
          </li>
          <li class="nav-item">
            <a href="#">
              <img src="https://icon-library.com/images/user-icon-png-transparent/user-icon-png-transparent-17.jpg"
            alt="" width="30" height="30" class="d-inline-block align-text-top">
            </a>
          </li>
        </ul>
      </div>
  </nav>
  <div><br><br><br><br><br><br><br><br><br>
    <div class="search-bar"><br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="from">From</span>
        </div>
        <select class="form-select" aria-label="Default select example">
          <option selected>Select start location</option>
          <option *ngFor="let x of Sources" value="x">{{ x }}</option>
        </select>
        <div class="input-group-prepend">
          <span class="input-group-text" id="from">To</span>
        </div>
        <select class="form-select" aria-label="Default select example">
          <option selected>Select end location<option>
          <option *ngFor="let y of Destinations" value="y">{{ y }}</option>
        </select>
        <button class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</header>
<section id="bushere" *ngIf="visible" class="paralax">
  <br><br><br><br><br><br><br><br>
  <div class="row">
    <div class="col-sm">
      <div class="covid">
        <div class="card" style="width: 18rem;">
          <div class="card-title"><h1 style="color: red; text-align: center;"><strong>COVID 19 safety</strong></h1></div><hr>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="bus-brand">
        <div class="card" style="width: 18rem;">
          <div class="card-title"><h1 style="color: purple; text-align: center;"><strong>Bus Brand</strong></h1></div><hr>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="vip-card">
        <div class="card" style="width: 18rem;">
          <div class="card-title"><h1 style="color: dodgerblue; text-align: center;"><strong>VIP Card</strong></h1></div><hr>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br>
</section>
<section id="contact" style="background-color:greenyellow" *ngIf="visible" class="paralax">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>
<section id="aboutus" style="background-color:red" *ngIf="visible" class="paralax">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>


